@import '~bootstrap/scss/bootstrap';
@import '_setting.scss';

body {
  margin: 0;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 14px;
  line-height: 1.3em;
}

.trello-trungquandev-master {
  height: 100vh;
  overflow: hidden;
  background-color: $board-bg-color;
  color: $app-main-text-color;
}

.trungquandev-trello-container {
  margin: 0 15px;
  padding: 0;
}

.icon {
  font-size: 14px;
  margin: 0 3px;
  &.ring {
    color: #ffd32a;
    animation: ring 3s .5s ease-in-out infinite;
  }
}


.trungquandev-content-editable {
  background-color: inherit;
  border: none;
  font-size: inherit;
  font-weight: inherit;
  cursor: pointer;
  &:focus {
    background-color: white;
  }
}

.col-no-padding {
  padding: 0;
}

.btn:focus, .btn:active {
  outline: none !important;
  box-shadow: none !important;
}

span.cancel-icon {
  margin-left: $gap;
  cursor: pointer;
  i {
    font-size: 18px;
    color: $alert-danger;
    &:hover {
      color: darken($alert-danger, 10);
    }
  }
}

.common__form {
  text-align: left;
  textarea:focus, 
  textarea.form-control:focus, 
  input.form-control:focus, 
  input[type=text]:focus, 
  input[type=password]:focus, 
  input[type=email]:focus, 
  input[type=number]:focus, 
  [type=text].form-control:focus, 
  [type=password].form-control:focus, 
  [type=email].form-control:focus, 
  [type=tel].form-control:focus, 
  [contenteditable].form-control:focus {
    box-shadow: none;
    border: 1px solid $input-border-color;
  }
  .btn:focus, .btn:active {
    outline: none !important;
    box-shadow: none !important;
  }
}

.tqd-send {
  transition: all .3s ease-in-out;
  &.tqd-waiting {
    opacity: .5;
    pointer-events: none;
  }
}

.loading-progress {
  width: 180px;
  height: 180px;
  margin: 60px auto;
  background-image: url(~resources/images/spinning-circles.svg);
  background-repeat: no-repeat;
  position: relative;
  background-position: center;
  text-align: center;
  p {
    position: absolute;
    margin: 0;
    top: 80%;
    left: 50%;
    transform: translate(-40%, -50%)
  }
}

.common-dropdown {
  .dropdown-toggle {
    background-color: inherit;
    border: none;
    &:focus {
      background-color: inherit !important;
      border: none !important;
    }
  }
  .dropdown-menu {
    padding: 0;
    min-width: 200px;
    max-width: 450px;
    .dropdown-item {
      padding: 1rem;
      font-size: 15px;
      &:not(:last-child) {
        border-bottom: 1px solid darken($column-bg-color, 10);
      }
      i.icon {
        margin-right: 10px;
        color: #3498db;
        &.danger {
          color: $alert-danger;
        }
      }
    }
  }
}

.default-avatar {
  border-radius: 50%;
  background-color: #2e86de;
  color: white;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  text-transform: uppercase;
  cursor: pointer;
}

.user-avatar {
  padding: 0;
  background-color: transparent;
  cursor: pointer;
  display: inline-block;
  img {
    border-radius: 50%;
    object-fit: cover;
    &:hover {
      filter: brightness(120%);
    }
  }
}


.pagination {
  justify-content: end;
  margin-top: 3rem;
  .page-item {
    .page-link {
      color: #0079bf;
      box-shadow: none !important;
      outline: none !important;
      box-shadow: none !important;
    }
    &.active {
      .page-link {
        background-color: #0079bf;
        border-color: #0079bf;
        color: white;
      }
    }
  }
}

// Dùng chung class member__avatars cho cả trong card details lẫn ở Board Bar
.member__avatars {
  padding: 0;
  background-color: transparent;
  display: flex;
  align-items: center;
  flex-flow: wrap;
  gap: 4px;
  &__item {
    cursor: pointer;
    width: 28px;
    height: 28px;
    img {
      width: 100%;
      height: 100%;
      border-radius: 50%;
      object-fit: cover;
      border: 0;
      &:hover {
        filter: brightness(110%);
      }
    }
    .more-members {
      display: inline-flex;
      width: 100%;
      height: 100%;
      position: relative;
      border-radius: 50%;
      align-items: center;
      justify-content: center;
    }
    .users__select {
      width: 100%;
      height: 100%;
      position: relative;
      i {
        font-size: 13px;
      }
      .users__select__content {
        display: inline-flex;
        width: 100%;
        height: 100%;
        background-color: #e2e4e9;
        align-items: center;
        justify-content: center;
        border-radius: 50%;
        &:hover {
          background-color: darken($color: #e2e4e9, $amount: 5);
        }
      }
      
      .users__select__popover {
        .users__select__popover__close_btn {
          position: absolute;
          width: auto;
          font-size: 20px;
          top: 4px;
          right: 10px;
          cursor: pointer;
          color: #172b4d;
          &:hover {
            color: $alert-danger;
          }
        }
        position: absolute;
        top: 34px;
        left: 5px;
        min-width: 300px;
        min-height: 100px;
        padding: 15px 20px;
        border-radius: 3px;
        box-shadow: 0 8px 16px -4px #091e4240, 0 0 0 1px #091e4214;
        background-color: white;
        z-index: 999;
        .title {
          color: #5e6c84;
          font-size: 13px;
          font-weight: 600;
          line-height: 16px;
        }
        .users-list {
          display: flex;
          flex-flow: wrap;
          gap: 4px;
          .user {
            &.selected {
              position: relative;
              &:after {
                position: absolute;
                content: '✔';
                font-size: 10px;
                color: #fff;
                bottom: 0;
                right: 0;
                padding: 0 3px;
                background-color: #27ae60;
                border-radius: 50%;
              }
            }
          }
        }
      }
    }
    .invite {
      display: inline-flex;
      width: 60px;
      height: 100%;
      margin-left: 6px;
      border-radius: 3px;
      background-color: #e2e4e9;
      align-items: center;
      justify-content: center;
      &:hover {
        background-color: darken($color: #e2e4e9, $amount: 5);
      }
    }
  }
}

.card__modal {
  // font-size: 16px;
  color: #172b4d;
  &__cover {
    margin-bottom: 1rem; // mb-3
    img.card__modal__cover__img {
      display: block;
      max-width: 100%;
      width: 100%;
      border-top-left-radius: 4px;
      border-top-right-radius: 4px;
      // max-height: 300px;
      // object-fit: contain;
      // object-position: center;
    }
  }
  &__header {
    position: relative;
    &__subject_icon {
      position: absolute;
      width: auto;
      font-size: 20px;
      top: 10px;
      left: 1px;
    }

    &__close_btn {
      position: absolute;
      width: auto;
      font-size: 20px;
      top: 4px;
      right: 0;
      margin-left: -10px;
      cursor: pointer;
      &:hover {
        color: $alert-danger;
      }
    }
    &__title {
      font-size: 18px;
      font-weight: 600;
      margin-left: -5px;
      padding-top: 0;
      padding-bottom: 0;
    }
  }
  &__body {
    .card__element__container {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      gap: 20px;
      .card__member__container {
        display: flex;
        flex-direction: column;
        // margin-right: 15px;
      }
      .card__dates__container {
        display: flex;
        flex-direction: column;
        // margin-right: 15px;

        .card__dates__content {
          display: flex;
          flex-direction: row;
          align-items: center;
          input {
            margin-right: 10px;
          }
          .card__dates__time {
            cursor: pointer;
            padding: 5px;
            background-color: rgba(9, 30, 66, 0.08);
            border-radius: 4px;
            display: flex;
            align-items: center;
            flex-direction: row;
            .card__dates__date {
              font-size: 14px;
              padding: 0 8px 0 5px;
            }
            .card__dates__reminder {
              // color: white;
              // background-color: #61BD4F;
              padding: 0 5px;
              font-size: 12px;
              margin-right: 5px;
              border-radius: 2px;
            }
          }
  
        }
  
      }
      .card__label__container {
        display: flex;
        flex-direction: column;
        .card__label__content {
          display: flex;
          flex-wrap: wrap;
          gap: 4px;
          margin-bottom: 20px;
          .card__label {
            display: flex;
            align-items: center;
            border-radius: 3px;
            height: 32px;
            max-width: 100%;
            min-width: 32px;
            padding: 0 12px;
            
            .card__label__circle {
              height: 18px;
              width: 18px;
              border-radius: 50%;
            }
            .card__label__title {
              margin-left: 5px;
              font-size: 14px;
              font-weight: 400;
              text-overflow: ellipsis;
              overflow: hidden;
              white-space: nowrap;
              line-height: 32px;
            }
          }
          .card__label__add {
            height: 28px;
            width: 28px;
            background-color: #dedfe3;
            color: #172b4d;
            display: flex;
            justify-content: center;
            align-items: center;
            border-radius: 3px;
            border-radius: 50%;
            cursor: pointer;
            &:hover {
              background-color: #d4d7de;
            }
          }
        }
      }
    }
    .card__element__title {
      color: #5e6c84;
      font-size: 13px;
      font-weight: 600;
      line-height: 16px;
      margin-bottom: 5px;
    }
    
    .card__modal__description {
      &__title {
        display: flex;
        align-items: center;
        font-size: 16px;
        font-weight: 600;
        gap: 16px;
        line-height: 20px;
        i.enable-edit-description {
          cursor: pointer;
          &:hover {
            color: $board-bg-color;
          }
        }
      }
      &__content {
        .tqd-markdown-editor {
          box-shadow: none;
          .w-md-editor-aree {
            border-radius: 0;
          }
        }
      }
    }
    .smooth-dnd-draggable-wrapper {
      overflow: inherit !important;
    }
    .card__modal__checklist__container {

      .card__modal__checklist {
        display: flex;
        flex-direction: row;
        align-items: center;
        font-size: 16px;
        font-weight: 600;
        line-height: 20px;
        width: 100%;
        i {
          font-size:18px;
          margin-top: 2px;
        }
  
        &__heading {
          padding-left: 17px;
          display: flex;
          align-items: center;
          justify-content: space-between;
          flex: 1;
          &__title {
            flex: 1;
          }
          &__btn {
            display: flex;
            position: relative;
            &-item {
              background-color: #f4f5f7;
              padding: 6px 12px;
              border-radius: 3px;
              cursor: pointer;
              font-size: 14px;
              display: flex;
              align-items: center;
              justify-content: center;
              font-weight: 400;
              &:hover {
                background-color: #eceded; 
              }
            }
            .card__modal__checklist__popup__delete {
              position: absolute;
              width: 300px;
              background-color: #fff;
              z-index: 5;
              border-radius: 3px;
              box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
              top: 35px;
              right: 0px;
              &__header {
                margin: 10px 0 0 10px;
                display: flex;
                flex-direction: row;
                align-items: center;
                justify-content: space-between;
                .card__modal__checklist__popup__delete__icon {
                  font-size: 20px;
                  color: #9099a9;
                  cursor: pointer;
                }
                .card__modal__checklist__popup__delete__heading {
                  flex: 1;
                  font-weight: 600;
                  font-size: 14px;
                  display: flex;
                  justify-content: center;
                  align-items: center;
                }
                
              }
              &__desc {
                font-weight: 300;
                font-size: 14px;
              }
              &__footer__btn {
                width: 100%;
                margin: 10px 0;
              }
            }
          }
        }
        &__edit {
          padding-left: 10px;
          width: 100%;
          &__content-editable {
            background-color: inherit;
            border: none;
            font-size: inherit;
            font-weight: inherit;
            cursor: pointer;
            &:focus {
              background-color: #f4f5f7;
            }
          }
          &__title {
            display: flex;
            align-items: center;
            font-size: 16px;
            font-weight: 600;
            gap: 16px;
            line-height: 20px;
            color: inherit;
          }
          &__btns {
            margin-top: 5px;
            &__btn {
              margin-right: 10px;
              width: 75px;
            }
            i {
              font-size: 20px;
              top: 5px;
              cursor: pointer;
              font-weight: 300;
            }
          }
        }
      }

      .card__modal__progressbar_container {
        display: flex;
        flex-direction: row;
        align-items: center;
        width: 100%;
        .card__modal__progressbar__title {
          width: 35px;
        }
        .progress {
          flex: 1;
          height: 8px;
        }
      }

      .card__modal__checklist__btn {
        margin: 5px 0 30px 32px;
        background-color: #f4f5f7;
        padding: 6px 12px;
        border-radius: 3px;
        cursor: pointer;
        font-size: 14px;
        display: flex;
        align-items: center;
        justify-content: center;
        font-weight: 400;
        width: 100px;
        &:hover {
          background-color: #eceded;
        }
      }

      .card__modal__checklist__create__todo {
        width: 100%;
        margin: 5px 0 15px 0;
        &__content-editable {
          background-color: inherit;
          border: none;
          font-size: inherit;
          font-weight: inherit;
          background-color: #f4f5f7;
          cursor: pointer;
        }
        &__title {
          display: flex;
          align-items: center;
          font-size: 14px;
          font-weight: 300;
          gap: 16px;
          line-height: 20px;
          color: inherit;
        }
        &__btns {
          margin: 5px 0 10px 0;
          display: flex;
          align-items: center;
          justify-content: space-between;
          width: 100%;
          color: #172b4d;
          &-container1 {
            .card__modal__checklist__create__todo__btn {
              width: 70px;
              margin-right: 5px;
            }
            span {
              color: #172b4d;
            }
          }
          &-container2 {
            position: relative;
            i {
              color: #172b4d;
            }
            .card__modal__checklist__create__todo__btn-text {
              margin-left: 5px;
              color: #172b4d;
            }
            .card__modal__checklist__create__todo__btn {
              margin-left: 5px;
            }
            .todo__popup__create__point-container {
              position: absolute;
              width: 250px;
              background-color: #fff;
              z-index: 5;
              border-radius: 3px;
              box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
              top: 35px;
              right: 20px;
              .todo__popup__create__point-header {
                margin: 10px 0 -5px 0;
                display: flex;
                flex-direction: row;
                align-items: center;
                justify-content: space-between;
                .todo__popup__create__point-heading {
                  flex: 1;
                  font-weight: 600;
                  font-size: 14px;
                  display: flex;
                  justify-content: center;
                  align-items: center;
                }
                .todo__popup__create__point-icon {
                  font-size: 20px;
                  color: #9099a9;
                  cursor: pointer;
                }
              }
              .todo__popup__create__point__members__container {
                display: flex;
                flex-direction: row;
                align-items: center;
                margin-bottom: 5px;
                padding: 3px 10px;
                cursor: pointer;
                &:hover {
                  background-color: #eaebec;
                }

                .todo__popup__create__point__members__space {
                  display: flex;
                  flex-direction: row;
                  align-items: center;
                  justify-content: space-between;
                  flex: 1;
                  margin-left: 5px;
                  .todo__popup__create__point__members__name {

                  }
                  .todo__popup__create__point-icon {

                  }
                }
              }
              .todo__popup__create__point__members__btn {
                display: flex;
                justify-content: center;
                align-items: center;
                padding: 8px 0;
                margin-bottom: 10px;
                border-radius: 3px;
                &:hover {
                  background-color: #eaebec;
                }
              }
            }
            .emoji-mart-search input {
              font-size: 14px;
            }
            .emoji-mart-search-icon {
              top: 3px !important;
            }
            .emoji-mart-category-label span {
              font-size: 14px;
            }
            .emoji-mart-anchors svg, .emoji-mart-anchors img {
              height: 14px !important;
              width: 14px !important;
            }
            .emoji-mart-scroll {
              height: 250px !important;
            }
            .emoji-mart-preview {
              display: none;
            }
            
          }
          // &__btn {
          //   margin-right: 10px;
          //   width: 75px;
          // }
          // i {
          //   font-size: 20px;
          //   top: 5px;
          //   cursor: pointer;
          //   font-weight: 300;
          // }
        }
      }

    }

    .card__modal__todo {
      margin-top: 5px;
      .card-ghost {
        transition: transform 0.18s ease;
        // transform: rotateZ(5deg);
        font-weight: bold;
        background-color: #dbdbdbc9;
      }
      .card-ghost-drop{
        transition: transform 0.18s ease-in-out;
        transform: rotateZ(0deg);
        font-weight: bold;
      }
      .card-drop-preview {
        background-color: rgba(150, 150, 200, 0.1);
        border: 1px dashed #abc;
        margin: 5px;
      }
      &__item {
        display: flex;
        flex-direction: row;
        padding-left: 10px;
        border-radius: 3px;
        &:hover {
          background-color: #f4f5f7 ;
        }
        &:hover .card__modal__todo__item-container-control__btn {
          display: flex;
          margin-right: 0 !important;
        }
        &-checkbox {
          font-size: 22px;
        }
        &-container {
          flex:1;
          display: flex;
          align-items: center;
          justify-content: space-between;
          &-title {
            flex: 1;
            font-size: 14px;
            font-weight: 300;
            margin-left: 10px;
            color: #172b4d;
  
          }
          &-control {
            display: flex;
            flex-direction: row;
            align-items: center;
            position: relative;
            &__btn {
              display: none;
              margin-left: 5px;
              background-color: inherit;
              align-items: center;
              justify-content: center;
              border-radius: 3px;
              height: 30px;
              width: 30px;
              margin-left: 3px;
              i {
                color: #172b4da9;
                font-size: 16px;
              }
              &:hover {
                background-color: #eaebec ;
              }  
            }

            .todo__popup__action__point-container {
              position: absolute;
              width: 250px;
              background-color: #fff;
              z-index: 5;
              border-radius: 3px;
              box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
              top: 30px;
              right: 33px;
              .todo__popup__action__point-header {
                margin: 10px 0 -5px 0;
                display: flex;
                flex-direction: row;
                align-items: center;
                justify-content: space-between;
                .todo__popup__action__point-heading {
                  flex: 1;
                  font-weight: 600;
                  font-size: 14px;
                  display: flex;
                  justify-content: center;
                  align-items: center;
                }
                .todo__popup__action__point-icon {
                  font-size: 20px;
                  color: #9099a9;
                  cursor: pointer;
                }
              }
              .todo__popup__action__point__members__container {
                display: flex;
                flex-direction: row;
                align-items: center;
                margin-bottom: 5px;
                padding: 3px 10px;
                cursor: pointer;
                &:hover {
                  background-color: #eaebec;
                }

                .todo__popup__action__point__members__space {
                  display: flex;
                  flex-direction: row;
                  align-items: center;
                  justify-content: space-between;
                  flex: 1;
                  margin-left: 5px;
                  .todo__popup__action__point__members__name {

                  }
                  .todo__popup__action__point-icon {

                  }
                }
              }
              .todo__popup__action__point__members__btn {
                display: flex;
                justify-content: center;
                align-items: center;
                padding: 8px 0;
                margin-bottom: 10px;
                border-radius: 3px;
                &:hover {
                  background-color: #eaebec;
                }
              }
            }

            .todo__popup__action-container {
              position: absolute;
              width: 250px;
              background-color: #fff;
              z-index: 5;
              border-radius: 3px;
              box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
              top: 30px;
              right: 0px;
              .todo__popup__action-header {
                margin: 10px 0 -5px 0;
                display: flex;
                flex-direction: row;
                align-items: center;
                justify-content: space-between;
                .todo__popup__action-heading {
                  flex: 1;
                  font-weight: 600;
                  font-size: 14px;
                  display: flex;
                  justify-content: center;
                  align-items: center;
                }
                .todo__popup__action-icon {
                  font-size: 20px;
                  color: #9099a9;
                  cursor: pointer;
                }
              }
              .todo__popup__action-btn {
                padding: 8px 10px;
                margin-bottom: 5px;
                &:hover {
                  background-color: #eaebec ;
                  cursor: pointer;
                }  

              }
            }
          }
         
        }
        &__create__todo {
          width: 100%;
          margin-top: 5px;
          // margin-bottom: 10px;
          &__content-editable {
            background-color: inherit;
            border: none;
            font-size: inherit;
            font-weight: inherit;
            background-color: #f4f5f7;
            cursor: pointer;
          }
          &__title {
            display: flex;
            align-items: center;
            font-size: 14px;
            font-weight: 300;
            gap: 16px;
            line-height: 20px;
            color: inherit;
          }
          &__btns {
            margin-top: 5px;
            display: flex;
            align-items: center;
            justify-content: space-between;
            width: 100%;
            color: #172b4d;
            &-container1 {
              .card__modal__todo__item__create__todo__btn {
                width: 70px;
                margin-right: 5px;
              }
              span {
                color: #172b4d;
              }
            }
            &-container2 {
              position: relative;
              i {
                color: #172b4d;
              }
              .card__modal__todo__item__create__todo__btn-text {
                margin-left: 5px;
                color: #172b4d;
              }
              .card__modal__todo__item__create__todo__btn {
                position: relative;
              }
              .todo__popup__edit__point-container {
                position: absolute;
                width: 250px;
                background-color: #fff;
                z-index: 5;
                border-radius: 3px;
                box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
                top: 90px;
                right: 20px;
                .todo__popup__edit__point-header {
                  margin: 10px 0 -5px 0;
                  display: flex;
                  flex-direction: row;
                  align-items: center;
                  justify-content: space-between;
                  .todo__popup__edit__point-heading {
                    flex: 1;
                    font-weight: 600;
                    font-size: 14px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                  }
                  .todo__popup__edit__point-icon {
                    font-size: 20px;
                    color: #9099a9;
                    cursor: pointer;
                  }
                }
                .todo__popup__edit__point__members__container {
                  display: flex;
                  flex-direction: row;
                  align-items: center;
                  margin-bottom: 5px;
                  padding: 3px 10px;
                  cursor: pointer;
                  &:hover {
                    background-color: #eaebec;
                  }
  
                  .todo__popup__edit__point__members__space {
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    justify-content: space-between;
                    flex: 1;
                    margin-left: 5px;
                    .todo__popup__edit__point__members__name {
  
                    }
                    .todo__popup__edit__point-icon {
  
                    }
                  }
                }
                .todo__popup__edit__point__members__btn {
                  display: flex;
                  justify-content: center;
                  align-items: center;
                  padding: 8px 0;
                  margin-bottom: 10px;
                  border-radius: 3px;
                  &:hover {
                    background-color: #eaebec;
                  }
                }
              }
              .emoji-mart-search input {
                font-size: 14px;
              }
              .emoji-mart-search-icon {
                top: 3px !important;
              }
              .emoji-mart-category-label span {
                font-size: 14px;
              }
              .emoji-mart-anchors svg, .emoji-mart-anchors img {
                height: 14px !important;
                width: 14px !important;
              }
              .emoji-mart-scroll {
                height: 250px !important;
              }
              .emoji-mart-preview {
                display: none;
              }
              
            }
            // &__btn {
            //   margin-right: 10px;
            //   width: 75px;
            // }
            // i {
            //   font-size: 20px;
            //   top: 5px;
            //   cursor: pointer;
            //   font-weight: 300;
            // }
          }
        }
      }
    }
    
    .card__modal__activity {
      &__title {
        display: flex;
        align-items: center;
        font-size: 16px;
        line-height: 20px;
        font-weight: 600;
        gap: 16px;
      }
      &__content {
        .comment__form {
          display: flex;
          align-items: center;
          gap: 10px;
          .write-comment {
            width: 100%;
          }
        }
        .comments__list {
          &__item {
            display: flex;
            gap: 10px;
            margin-bottom: 20px;
            .user-comment {
              width: 100%;
              .user-info {
                .username {
                  font-size: 16px;
                  font-weight: bold;
                  margin-right: 8px;
                }
                .datetime {
                  font-size: 14px;
                  color: #5e6c84;
                }
              }
              .comment-value {
                margin-top: 8px;
                padding: 8px 12px;
                border-radius: 3px;
                box-shadow: 1px 1px 3px -1px #091e4240, 0 0 0 1px #091e4214;
                word-wrap: break-word;
              }
            }
          }
        }
      }
    }
    .menu__group {
      position: relative;
      margin-bottom: 20px;
      &__title {
        color: #5e6c84;
        font-size: 13px;
        font-weight: 600;
        line-height: 16px;
      }
      &__item {
        background-color: #091e420a;
        border: none;
        border-radius: 3px;
        box-shadow: none;
        box-sizing: border-box;
        cursor: pointer;
        display: block;
        height: 32px;
        margin-top: 8px;
        max-width: 300px;
        overflow: hidden;
        padding: 6px 12px;
        position: relative;
        text-decoration: none;
        text-overflow: ellipsis;
        user-select: none;
        white-space: nowrap;
        &:hover {
          background-color: #e2e4e9;
        }
        i {
          margin-right: 6px;
        }
      }
      &__label {
        position: absolute;
        width: 300px;
        background-color: #fff;
        z-index: 3;
        border-radius: 3px;
        box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
        .menu__group__label__header {
          margin: 10px 0 -5px 0;
          .menu__group__label__icon {
            font-size: 20px;
            color: #9099a9;
            cursor: pointer;
            margin-left: 20px;

          }
          .menu__group__label__heading {
            display: flex;
            justify-content: center;
            align-items: center;
            font-weight: 600;
            font-size: 16px;
          }
        }
        .menu__group__label__preview {
          display: flex;
          align-items: center;
          margin: 20px;
          border-radius: 3px;
          height: 30px;

          .menu__group__label__preview__circle {
            height: 18px;
            width: 18px;
            border-radius: 50%;
            margin-left: 10px;
          }
          .menu__group__label__preview__title {
            margin-left: 10px;
            font-size: 15px;
            font-weight: 400;
            max-width: 190px;
            text-overflow: ellipsis;
            overflow: hidden;
            white-space: nowrap;
          }
        }
        .menu__group__label__pick__color {
          height: 30px;
          border-radius: 3px;
          cursor: pointer;
          &:hover {
            opacity: 0.8;
          }
        }


        .menu__group__label__footer {
          display: flex;
          justify-content: space-between;
          margin-bottom: 10px;
          .menu__group__label__footer__btn {
            width: 75px;
          }
        }

        // cho Label modal
        .menu__group__label__cards {
          
          .menu__group__label__card {
            display: flex;
            align-items: center;
            margin: 10px 0;
            .menu__group__label__icon__edit {
              display: flex;
              justify-content: center;
              align-items: center;
              width: 30px;
              height: 30px;
              border-radius: 3px;
              margin: 0 0 0 5px;
              cursor: pointer;
              &:hover {
                background-color: #cdced1;
              }
            }
            .menu__group__label__checkbox {
              display: flex;
              justify-content: center;
              align-items: center;
              width: 30px;
              height: 30px;
              border-radius: 3px;
              margin: 0px;
              cursor: pointer;
              .menu__group__label__checkbox_icon {
                width: 15px;
                height: 15px;
                cursor: pointer;
              }
            }
          }
        }

        .menu__group__label__btn_label {
          display: flex;
          justify-content: center;
          align-items: center;
          height: 30px;
          cursor: pointer;
          border-radius: 3px;
          font-weight: 600;
          &:hover {
            background-color: #cdced1;
          }
          i {
            margin-right: 10px;
          }
        }
        .menu__group__checklist__icon__todo__container {
          width: 100%;
          padding: 5px 0 5px 10px;
          border-radius: 3px;
          cursor: pointer;
          &:hover {
            background-color: #e1e1e1;
          }
        }
        .menu__group__checklist__select {
          margin-bottom: 14px;
          width: 100%;
          height: 30px;
        }
      }
      .menu__group__dates-container {
          position: absolute;
          width: 300px;
          background-color: #fff;
          z-index: 3;
          border-radius: 3px;
          box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
          .menu__group__dates {
          max-height: 550px;
          overflow-y: scroll;
          &::-webkit-scrollbar {
            -webkit-appearance: none;
          }
          &::-webkit-scrollbar:vertical {
            width: 8px;
          }
          &::-webkit-scrollbar-thumb {
            background-color: darken($column-bg-color, 15);
            border-radius: 8px;
          }
          &-header {
            margin: 10px 0 -5px 0;
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-between;
            .menu__group__dates-heading {
              flex: 1;
              font-weight: 600;
              font-size: 14px;
              display: flex;
              justify-content: center;
              align-items: center;
              margin-left: 20px;
            }
            .menu__group__dates-icon {
              font-size: 20px;
              color: #9099a9;
              cursor: pointer;
            }
          }
          &-seperator {
            margin-top: 10px !important;
            margin-bottom:  0px !important;
          }
          .rdrCalendarWrapper {
            width: 100% !important;
            padding: 0 10px !important;
            font-size: 14px !important;
            .rdrMonthAndYearWrapper {
              padding-top: 0px !important;
              height: 30px !important;
            }
            .rdrMonth {
              padding: 0px !important;
              width: 100% !important;
              .rdrMonthName {
                display: none;
              }
              .rdrWeekDay {
                color: #6B778C !important;
              }
            }
          }
          &__date-container {
            display: flex;
            flex-direction: row;
            align-items: center;
            input {
              margin-right: 10px;
            }
            i {
              color: #5e6c84;
              cursor: pointer;
              &:hover {
                color: #172b4d;
              }
            }
            
          }
          .menu__group__dates-btn {
            width: 100%;
            margin-bottom: 5px;
            height: 30px !important;
            padding: 0px !important;
            border-radius: 4px !important;
            font-size: 14px !important;
          }
          &-select {
            margin-bottom: 10px;
            width: 100%;
            height: 30px;
            padding-left: 10px;
            &-item {
              height: 30px !important;
              line-height: 30px !important;;
            }
          }
        }
      }
    }
  }
}

